<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1},{"col":3,"row":2},{"col":4,"row":1},{"col":2,"row":1},{"col":2,"row":2},{"col":1,"row":2},{"col":2,"row":2},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 350]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div  data-view="Image" data-image="/kambi3.png" style="background-color:#d2dbdc"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="csopen" data-view="List" data-unordered="true" data-title="CS Open Ticket" data-moreinfo="Ticket that needs to acknowledge asap" style="background-color:#367c2b"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="csinprog" data-view="List" data-unordered="true" data-title="CS In-Progress Ticket" style="background-color:#00adee"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cspend" data-view="List" data-unordered="true" data-title="CS Pending Ticket" style="background-color:#6f8cc0">    </div>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="closedcs" data-view="Number" data-unordered="true" data-title="Closed CS Ticket for this Month" data-moreinfo="CS Ticket that resolved for this Month" style="background-color:#333333"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="createdcs" data-view="Number" data-unordered="true" data-title="In-Porgress & Pending CS Ticket for this Month" data-moreinfo="CS Ticket that still in-progress & pending for this Month" style="background-color:#81d8d0"></div>
    </li>
  </ul>
</div>
